---
const { className, data, gridIndex = 0 } = Astro.props;

let margin = "";
if (gridIndex % 2 === 1) margin = "mt-xl"; // Every second element gets mt-xl
if (gridIndex % 4 === 1) margin = "mt-l"; // Every 4th element overrides to mt-l

const imgPath = `../../public/artister/${data?.Image}`;
---

<a class={`${className} ${margin}`} href=`/artist-single-view/${data?.slug}`>
  <img src={imgPath} alt=`Billede af ${data?.Artist ?? "Kunstner"}` />
  <h3>{data?.Artist ?? "Ukendt"}</h3>
</a>

<style>
  a {
    text-decoration: none;
    transition: 0.3s;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid var(--text-color);
  }
  h3 {
    text-align: center;
  }

  a:hover {
    transform: scale(1.05);
    & img {
      box-shadow: 0 0 25px var(--tertiary-shade-color);
    }
  }
</style>
